# OSX / default autosave extension
*.m~

# Icon must end with two \r
Icon

# Thumbnails
._*

#Python compiled
*.pyc
*.pyc~

# C++ / default autosave extension 
*.cpp~
*.hpp~

# C++ / Compilation files
*.o
SeismoVLab.exe
